# **Exercise 1**

In [1]:
USE Northwinds2022TSQLV7;

SELECT OrderId, OrderDate, CustomerId, EmployeeId
  FROM Sales.[Order]
  WHERE OrderDate < '20150701'
    AND OrderDate > '20150530';

OrderId,OrderDate,CustomerId,EmployeeId
10555,2015-06-02,71,6
10556,2015-06-03,73,2
10557,2015-06-03,44,9
10558,2015-06-04,4,1
10559,2015-06-05,7,6
10560,2015-06-06,25,8
10561,2015-06-06,24,2
10562,2015-06-09,66,1
10563,2015-06-10,67,2
10564,2015-06-10,65,4
10565,2015-06-11,51,8
10566,2015-06-12,7,9
10567,2015-06-12,37,1
10568,2015-06-13,29,3
10569,2015-06-16,65,5
10570,2015-06-17,51,3
10571,2015-06-17,20,8
10572,2015-06-18,5,3
10573,2015-06-19,3,7
10574,2015-06-19,82,4
10575,2015-06-20,52,5
10576,2015-06-23,80,3
10577,2015-06-23,82,9
10578,2015-06-24,11,4
10579,2015-06-25,45,1
10580,2015-06-26,56,4
10581,2015-06-26,21,3
10582,2015-06-27,6,3
10583,2015-06-30,87,2
10584,2015-06-30,7,4

# **Exercise 2**

In [2]:
USE Northwinds2022TSQLV7;

SELECT OrderId, OrderDate, CustomerId, EmployeeId
  FROM Sales.[Order]
  WHERE OrderDate = DATEADD(Month, DATEDIFF(Month,'20131231',OrderDate),'20131231');

OrderId,OrderDate,CustomerId,EmployeeId
10269,2014-07-31,89,5
10317,2014-09-30,48,6
10343,2014-10-31,44,4
10399,2014-12-31,83,8
10432,2015-01-31,75,3
10460,2015-02-28,24,8
10461,2015-02-28,46,1
10490,2015-03-31,35,7
10491,2015-03-31,28,8
10522,2015-04-30,44,4
10583,2015-06-30,87,2
10584,2015-06-30,7,4
10616,2015-07-31,32,1
10617,2015-07-31,32,4
10686,2015-09-30,59,2
10687,2015-09-30,37,9
10725,2015-10-31,21,4
10806,2015-12-31,84,3
10807,2015-12-31,27,4
10987,2016-03-31,19,8
10988,2016-03-31,65,3
10989,2016-03-31,61,2
11060,2016-04-30,27,2
11061,2016-04-30,32,4
11062,2016-04-30,66,4
11063,2016-04-30,37,3

# **Exercise 3**

In [3]:
USE Northwinds2022TSQLV7;

SELECT EmployeeId , EmployeeFirstName, EmployeeLastName
  FROM HumanResources.Employee
  WHERE EmployeeLastName LIKE '%e%e%';

EmployeeId,EmployeeFirstName,EmployeeLastName
4,Yael,Peled
5,Sven,Mortensen

# **Exercise 4**

In [4]:
USE Northwinds2022TSQLV7;

SELECT OrderId, SUM(Quantity*UnitPrice) AS TotalValue
  FROM Sales.OrderDetail
  GROUP BY OrderId
  HAVING SUM(Quantity*UnitPrice) > 10000
  ORDER BY TotalValue DESC;

OrderId,TotalValue
10865,17250.00
11030,16321.90
10981,15810.00
10372,12281.20
10424,11493.20
10817,11490.70
10889,11380.00
10417,11283.20
10897,10835.24
10353,10741.60
10515,10588.50
10479,10495.60
10540,10191.70
10691,10164.80

# **Exercise 5**

In [12]:
USE Northwinds2022TSQLV7;

SELECT EmployeeId, EmployeeLastName
  FROM HumanResources.Employee
  WHERE EmployeeLastName COLLATE LATIN1_GENERAL_CS_AS LIKE N'[abcdefghijklmnopqrstuvwxyz]%';